/*@font-face {
	font-family: "Neue Machina Medium";
	src: url('fonts/NeueMachina-Medium.ttf'), format('truetype');
}

@font-face {
	font-family: "Neue Machina R";
	src: url('fonts/NeueMachina-Regular.ttf'), format('truetype');
}
*/

@font-face{

	font-family: 'MyWebFont';
	src: url('fonts/NeueMachina-Bold.ttf');
	src: url('fonts/NeueMachina-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

.head1{ 
	/*display: block;*/
	/*width: 100px;  */
	/*height: 100px;  */
	background-color: #f6f6f6; 
} 

h1{ 
	color: black;
	font: 12px;
	font-family: MyWebFont;
}